<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/static/about.css">
</head>
<body>

    <div class="main">


    
        <div class="heading">

            <h1>About us</h1>
            <p>Welcome to our cutting-edge image captioning platform, where visuals come to life with words.</p>

        </div>

        <div class="container">

            <section class="about">

                <div class="about-image">

                    <img src="/static/peakpx.jpg">

                </div>

                <div class="about-content">

                    <h2>Captivating Moments: A Warm Embrace in a Cup</h2>
                    <p>Unleash the power of words on your visuals with our cutting-edge image captioning platform. We turn 
                    ordinary pictures into extraordinary stories, bridging the gap between sight and expression. Our 
                    innovative technology brings your images to life, providing a seamless fusion of visual aesthetics and 
                    eloquent descriptions. Explore the art of storytelling through images like never before, as our platform
                    transforms every pixel into a narrative masterpiece. Join us in redefining the language of visuals, where 
                    the extraordinary begins with a caption.</p>
                    <a href="" class="read-more">Read More</a>

                </div>

            </section>

        </div>

    </div>
    
</body>
</html>