<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/team.css">
    <title>Team</title>
</head>
<body>

    <div class="main">


        <div class="heading">

            <h1>Our Team</h1>

        </div>

        <div class="container">

            <div class="card">

                <div class="content">

                    <div class="imgBx">

                        <img src="" alt="">

                    </div>

                    <div class="contentBox">

                        <h4>Omkar Shinde</h4>
                        <h5>Full stack developer</h5>

                    </div>

                    <div class="sci">
    
                        <a href="https://www.instagram.com/_omkar_3905/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/omkar-shinde-33237422a/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        <a href="https://github.com/omkar3905"><i class="fa fa-github" aria-hidden="true"></i></a>

                    </div>

                </div>

            </div>


            <div class="card">

                <div class="content">

                    <div class="imgBx">

                        <img src="" alt="">

                    </div>

                    <div class="contentBox">

                        <h4>Amey Wadgaonkar</h4>
                        <h5>Backend developer</h5>

                    </div>

                    <div class="sci">

                        <a href="https://www.instagram.com/amey_1571/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</body>
</html>